<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KeepAlive</key>
	<true/>
	<key>Label</key>
	<string>com.neocode24.aecrelay</string>
	<key>ProcessType</key>
	<string>Interactive</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Users/user/Git/mac-aec-relay/speexrelay</string>
		<string>--mode</string>
		<string>aec</string>
		<string>--autocal</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>StandardErrorPath</key>
	<string>/Users/user/Library/Logs/mac-aec-relay/relay.err.log</string>
	<key>StandardOutPath</key>
	<string>/Users/user/Library/Logs/mac-aec-relay/relay.log</string>
	<key>ThrottleInterval</key>
	<integer>10</integer>
	<key>WorkingDirectory</key>
	<string>/Users/user/Git/mac-aec-relay</string>
</dict>
</plist>
